footer {
  margin-top: 10rem;
  bottom: 0;
  height: 2.5rem;
  text-align: center;
}

.logo {
  display: flexbox;
  justify-content: flex-start;
  margin-left: 1rem;
  line-height: 1.1;
}

header {
  background-color: aqua;
}

.title {
  font-size: 40px;
  font-weight: 800;
  font-style: oblique;
}

.navItems {
  display: flex;
  float: right;
  align-items: space-between;
  margin-left: auto;
  margin-right: 1rem;
  gap: 20px;
  color: white;
}

.nav-link{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 2px solid rgb(47, 66, 239);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  background-color: rgb(47, 66, 239);
}

.header {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
  background-color: rgb(37, 163, 226);
}

.logout {
  background-color: rgb(37, 163, 226);
}

.login {
  background-color: rgb(37, 163, 226);
}