.profile {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4rem;
  line-height: 2;
  text-align: center;
}

.list-group-item+.list-group-item {
  border-bottom-width: 5px;
  text-align: center;
  font-family: 'Climate Crisis', cursive;
  font-family: 'Roboto', sans-serif;
  margin-top: .25rem;
  border-radius: 10px 10px;

}

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 30%;
  outline: 8px ridge rgb(168, 209, 227);
  border-radius: 2rem;
  outline-color: rgb(175, 204, 215);
}

.list-group-item {
  position: relative;
  display: relative;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  border-top-width: 5px;
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  background: rgb(110, 123, 207);
  background: linear-gradient(90deg, rgb(158, 167, 228) 6%, rgba(221, 255, 249, 1) 50%, rgb(158, 167, 228) 94%);
}

.list-group-item.list-group-item-success {
  text-align: center;
  font-family: 'Climate Crisis', cursive;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  border-radius: 10px 10px;
}

.list-group-item:first-child {
  border-bottom-width: 5px;
  margin-top: 1rem;
  border-radius: 10px 10px;
}

footer {
  margin-top: 21rem;
  bottom: 0;
  height: 2.5rem;
  text-align: center;
}

